<h1>Ajoutes ta board</h1>

<form (submit)="myForm.valid && createSnwbd()" #myForm="ngForm" class="card-white text-center">
  <h2>Marque :</h2>
  <input type="text" [(ngModel)]="snwb.brand" name="marque" #marqueRef=ngModel required>
  <div *ngIf="marqueRef?.errors?.required && myForm.submitted">Marque is required</div>

  <h2>Modèle :</h2>
  <input type="text" [(ngModel)]="snwb.model" name="modele" #modeleRef=ngModel required>
  <div *ngIf="modeleRef?.errors?.required && myForm.submitted">Modèle is required</div>

  <h2>Image URL :</h2>
    <input type="text" [(ngModel)]="snwb.image" pattern="https?://.+" name="image" #imageRef=ngModel required>
    <div *ngIf="imageRef?.errors?.required && myForm.submitted">Image is required</div>

    <h2>Prix :</h2>
    <input type="text" [(ngModel)]="snwb.price" name="prix" #prixRef=ngModel required>
    <div *ngIf="prixRef?.errors?.required && myForm.submitted">prix is required</div>

  <!-- <h2>Commentaire :</h2>
    <input type="text" [(ngModel)]="snwb.commentaire" name="commentaire" #commentaireRef=ngModel required>
    <div *ngIf="commentaireRef?.errors?.required && myForm.submitted">Description is required</div> -->

    <button type="submit">Ajouter</button>

  </form>
